@font-face {
  font-family: "Roboto_Regular";
  src: url("../fonts/roboto.woff2") format('woff2'),
  url("../fonts/roboto.woff") format('woff');
}

@font-face {
  font-family: "Roboto_Medium";
  src: url("../fonts/robotomedium.woff2") format('woff2'),
  url("../fonts/robotomedium.woff") format('woff');
}

@font-face {
  font-family: "Roboto_Bold";
  src: url("../fonts/robotobold.woff2") format('woff2'),
  url("../fonts/robotobold.woff") format('woff');
}


body {
  font-size : 16px;
  line-height : 22px;
  color : #ffffff;
  font-family : "Roboto_Regular";
  background-color : #849d8f;

}

.heading1L {
  font-size : 35px;
  line-height: 41px;
  color : #ffffff;
  font-family: "Roboto_Bold";
}

.heading {
  font-size : 24px;
  line-height: 30px;
  color : #ffffff;
  font-family: "Roboto_Bold";
}
